#the-fold {
	height: 21vh;
	background-color: white;
	@include iphone {
		height: 30vh;
	}
	@include iphone-portrait {
		height: 18vh;
	}
}

header {
	font-family: $titles;
	color: $nose;
	margin: 0 0 0 46px;
	font-size: 11.9vw;
	line-height: 24vh;
	z-index: -1;
	position: relative;
	@include iphone {
		font-size: 8vw;
		line-height: 15vw;
		margin-left: 40px
	}
	@include iphone-portrait {
		font-size: 13vw;
	    line-height: 32vw;
	}
	@include iphone5-portrait {
		margin-left: 30px;
	}
}

.js-fade-element-hide {
  opacity: 0;
}

.js-fade-element-show {
  opacity: 1;
  transition: all 0.7s ease-in-out;
}
