#intro{
	margin: 20px 60px 60px 60px;
	height: 64vh;	
	.image-gradient-dynamic {
		line-height: 0;
		position: relative;
		width: 100%;
		height: 64vh;
		.copy {
			left: 50%;
			margin: auto;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 999;
			background-image: url('../images/samp.png');
			height: 64vh;
			width: 100%;
		}

	  	.overlay {
			@include position(absolute, 0);
			background-color: transparentize(
			$image-gradient-color-top,
			$transparency-top
			);
			background-image: linear-gradient($vertical-angle,
			transparentize($image-gradient-color-top, $transparency-top),
			transparentize($image-gradient-color-bottom, $transparency-bottom)
			);
			display: block;
				&::after {
				@include position(absolute, 0);
				background-color: transparentize(
				$image-gradient-color-left,
				$transparency-right
				);
				background-image: linear-gradient($horizontal-angle,
				transparentize($image-gradient-color-left, $transparency-left),
				transparentize($image-gradient-color-right, $transparency-right)
				);
				content: "";
				display: block;
				}
		}
	}

	/* code for animated blinking cursor */
	.typed-cursor{
	    opacity: 1;
	    font-weight: 100;
	    -webkit-animation: blink 0.7s infinite;
	    -moz-animation: blink 0.7s infinite;
	    -ms-animation: blink 0.7s infinite;
	    -o-animation: blink 0.7s infinite;
	    animation: blink 0.7s infinite;
	    color: white;
		font-size: 4vw;
		font-family: $titles;
		line-height: 1.2em;
	}
	@-keyframes blink{
	    0% { opacity:1; }
	    50% { opacity:0; }
	    100% { opacity:1; }
	}
	@-webkit-keyframes blink{
	    0% { opacity:1; }
	    50% { opacity:0; }
	    100% { opacity:1; }
	}
	@-moz-keyframes blink{
	    0% { opacity:1; }
	    50% { opacity:0; }
	    100% { opacity:1; }
	}
	@-ms-keyframes blink{
	    0% { opacity:1; }
	    50% { opacity:0; }
	    100% { opacity:1; }
	}
	@-o-keyframes blink{
	    0% { opacity:1; }
	    50% { opacity:0; }
	    100% { opacity:1; }
	}

	span:after {
		display: inline-block;
	}

	#typed {
		color: white;
		font-size: 4vw;
		font-family: $titles;
		line-height: 1.2em;
		font-weight: normal;
		position: relative;
	}

	.copy-box {
		padding: 30px;
	}

}