#portfolio {
	margin-top: 5vh;
	ul { 
		list-style: none; 
		padding: 0;
		margin: 0;
	}
	li {
		margin-bottom: 30px;
	}
}



.portfolio-intro, .output-intro {
	@include grid-column(10, $danno-grid);
	@include grid-push(3, $danno-grid);
	margin-bottom: 30px;
}

.output-intro {
	margin-top: 60px;
}

.full-presence, .output {
	margin-left: 18.5%;
	width: 80%;
}

.thumb-half-height, .thumb-sq-height {
	position: relative;
	@include grid-column(4, $danno-grid);
}

.thumb-half-height:before {
	content: "";
	display: block;
	padding-top: 50%; 	/* 50% is twice as wide as tall*/
}

.thumb-sq-height:before {
	content: "";
	display: block;
	padding-top: 100%; 	/* 100% is square dude*/
}

.thumb {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: pointer;
	img {
		display: block;
		margin:0 auto;
		width: 70%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	&:hover, &:focus {
		background-color: $action-color;
		color: $light-gray;
	}
	h3 {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		color: white;
	}
}

.th-aclu {
	background-color: $aclu;
}

.th-chn-foundation {
	background-color: $chn-foundation;
}

.th-epa {
	background-color: $epa;
}

.th-ford-factory {
	background-color: $ford-factory;
}

.th-io-playa-vista {
	background-color: $io-playa-vista;
}

.th-newmark {
	background-color: $newmark;
}

.th-other {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3cc8d7+0,f7a044+100 */
	background: #3cc8d7; /* Old browsers */
	background: -moz-linear-gradient(top,  #3cc8d7 0%, #f7a044 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3cc8d7 0%,#f7a044 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3cc8d7 0%,#f7a044 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cc8d7', endColorstr='#f7a044',GradientType=0 ); /* IE6-9 */
}

.th-other-2 {
	background-color: $dark-gray;
}

.th-planned-parenthood {
	background-color: $planned-parenthood;
}

.th-salad-days{
	background-color: $salad-days;
}

.th-tdae {
	background-color: $tdae;
}

.th-thrive-market{
	background-color: $thrive-market;
}

.external-link {
	position: absolute;
	bottom: 10px;
	right: 10px;
}