#writings {
    margin-top: 5vh;
	.post-section {
		@include grid-column(10, $danno-grid);
		@include grid-push(3, $danno-grid);
		ul { 
			list-style: none; 
			padding: 0;
			margin: 0;
		}
		li {
			margin-bottom: 30px;
		}
	}
	.post-item {
		@include grid-column(8, $danno-grid);
		@include grid-push(4, $danno-grid);
	}
}