#about {
	margin-top: 5vh;
	h1 {
		float: left;
	}
	h2 {
		clear: left;
	}
	a {
		margin-bottom: 30px;
		&::after {
			content: unset;
		}
	}
	img {
		width: 100%;
		display: block;
		position: relative;
		margin-top: 30px;
	}
	.about-header-img, .about-footer-img {
		@include grid-container;
		padding: 0 60px;
		img {
			margin-top: 0;
		}
	}
	.about-footer-img {
		margin-top: 30px;
	}
}

figcaption {
/*	position: absolute;
    bottom: 0px;
    left: 80px;*/
    color: $black;
    font-size: .75em;
    font-family: $copies;
    margin-top: 5px;
    height: 2em;
}

.resume {
	float: left;
    display: block;
    padding: 20px 15px 15px 15px;
    background-color: $light-gray;
    margin-left: 130px;
    margin-top: 14px;
    &:hover, &:focus {
    	background-color: $nose;
    	color: white;
    }
    i{
    	display: block;
    	transform: translateY(-50%);
    }
    p {
    	font-size: 0.875em;
    	line-height: .6em;
    }
}

.about-intro, .big-blip {
	@include grid-column(10, $danno-grid);
	@include grid-push(3, $danno-grid);
}

.big-blip {
	margin-bottom: 30px;
}

.about-intro {
	margin-bottom: 20px;
}

.little-blip {
	@include grid-column(5, $danno-grid);
	@include grid-push(3, $danno-grid);
	margin-bottom: 30px;
}
.little-blip:nth-child(2), .little-blip:nth-child(5) {
	@include grid-push(0);
}


