#portfolio {
	margin-top: 5vh;
	ul { 
		list-style: none; 
		padding: 0;
		margin: 0;
	}
	li {
		margin-bottom: 30px;
	}
}

.portfolio-header-img {
		@include grid-container;
		padding: 0 60px;
		img {
			margin-top: 0;
			width: 100%;
			display: block;
			position: relative;
			margin-top: 30px;
		}
	}

.portfolio-intro, .output-intro {
	@include grid-column(10, $danno-grid);
	@include grid-push(3, $danno-grid);
	margin-bottom: 30px;
}

.output-intro {
	margin-top: 60px;
}

.full-presence, .output {
	margin-left: 18.5%;
	width: 80%;
}

.thumb-half-height, .thumb-sq-height {
	position: relative;
	@include grid-column(4, $danno-grid);
	&:hover, &:focus {
		background-color: $action-color;
		color: $light-gray;
	}
}

.thumb-half-height:before {
	content: "";
	display: block;
	padding-top: 50%; 	/* 50% is twice as wide as tall*/
}

.thumb-sq-height:before {
	content: "";
	display: block;
	padding-top: 100%; 	/* 100% is square dude*/
	overflow: hidden;
}

.thumb {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: pointer;
	overflow: hidden;
	img {
		display: block;
		margin:0 auto;
		width: 70%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	
	h3 {
		position: relative;
		top: 50%;
		transform: translateY(-70%);
		text-align: center;
		color: white;
	}
	figcaption {
		position: relative;
		top: 50%;
		transform: translateY(-70%);
		text-align: center;
		color: white;
	}
}

.thumb:hover > div {
	transform: translate(0, 0%);
	transition: all 0.2s ease-in-out;
}

.tile-caption {
    background-color: rgba(0, 0, 0, 0.6875);
    z-index: 10;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    transform: translate(0, 100%);
    transition: all 0.2s ease-in-out;
}

.th-aclu {
	background-color: $aclu;
}

.th-chn-foundation {
	background-color: $chn-foundation;
}

.th-epa {
	background-color: $epa;
}

.th-ford-factory {
	background-color: $ford-factory;
}

.th-io-playa-vista {
	background-color: $io-playa-vista;
}

.th-newmark {
	background-color: $newmark;
}
      
.th-other, .th-other-2 {
	/*@include linear-gradient(-45deg, $nose 0%, $poppy 100%);*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7a044+0,3cc8d7+100 */
background: #f7a044; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f7a044 0%,#3cc8d7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a044', endColorstr='#3cc8d7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	&:hover, &:focus {
		background: $action-color;
		color: $light-gray;
	}
}

.th-planned-parenthood {
	background-color: $planned-parenthood;
}

.th-salad-days{
	background-color: $salad-days;
}

.th-tdae {
	background-color: $tdae;
}

.th-thrive-market{
	background-color: $thrive-market;
}

.external-link {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* styles for individual projects*/
#portfolio-item {
	margin-top: 5vh;
	@include grid-container;
	@include grid-column(10, $danno-grid);
	@include grid-push(3, $danno-grid);
	h2 {
		display: inline-block;
	}
	h3 {
		margin-bottom: 0;
	}
	h3.topsies {
		margin-top: 10px;
	}
	h4 {
		margin-bottom: 0;
	}
	p {
		margin-bottom: 15px;
	}
	p.topsies {
		margin-bottom: 10px;
	}
	.halfsies {
		width: 48%;
		float: left;
	}
	.two {
		margin-left: 3%;
	}
	figcaption {
		display: inline-block;
	}
}

.portfolio-overview {
	@include grid-column(13, $danno-grid);
	margin-bottom: 30px;
	margin-left: 0;
	li {
		list-style: none;
	}
}

.portfolio-details {
	@include grid-container;
	margin-bottom: 30px;
	margin-left: 0;
	img {
		/*width: 100%;*/
		height: auto;
	}
}

.portfolio-colophon {
	@include grid-column(4, $danno-grid);
	margin-bottom: 30px;
/*	margin-left: 0;
*/	h4 {
		margin-top: 21px;
		border-bottom: 1px solid $light-gray;
	}
	p {
		font-size: 0.625em;
	}
}

.portfolio-list {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		/*text-align: center;*/
	}
	a {
		font-family: $titles;
		font-size: 4em;
	}
}

.expander {
	a {
		&:hover {
		color: $nose;
		}	
	}

  .expander-trigger {
    border-bottom: 1px solid $light-gray;
    /*color: $black;*/
    cursor: pointer;
    display: block;
    font-size: $expander-toggle-size;
    margin-bottom: $expander-toggle-size;
    padding-bottom: $expander-toggle-size / 4;
    text-decoration: none;
    user-select: none;

    &::before {
      content: "\25BC";
      font-size: $expander-arrow-width;
      margin-right: 0.5em;
    }
  }

  .expander-content p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  .expander-hidden {
    &::before {
      content: "\25BA";
      font-size: $expander-arrow-width;
    }
  }

  .expander-hidden + .expander-content {
    display: none;
    transition: all 0.7s ease-in-out;
  }
}

h4.button {
	margin-left: 0;
	&:hover {
		color: white;
	}
	a {
		&:hover {
			color: white;
		}
	}
}

/*image styles*/
.border-it {
	border: 1px solid $light-gray;
}

.img-absolute {
	width: 800px;
}

/*video styles*/
.under-video {
	margin-top: 30px;
}

/*parallax styles*/
.parallax-window {
	/*max-height: $parallax-window-height;*/
	overflow: hidden;
	position: relative;
	text-align: center;
	/*width: 100%;*/
	@include grid-container;
	@include grid-column(15.5, $danno-grid);
	@include grid-push(0.375, $danno-grid);
    height: 74vh;
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 8em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("/images/pf-thrive-hero.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

.salad-days-background {
	background: url("/images/pf-salad-hero.jpg") no-repeat;
}

.ford-factory-background {
	background: url("/images/pf-ford-hero.jpg") no-repeat;
}

.io-playa-vista-background {
	background: url("/images/pf-io-hero.jpg") no-repeat;
}

.chn-foundation-background {
	background: url("/images/pf-chn-hero.jpg") no-repeat;
}

.newmark-background {
	background: url("/images/pf-newmark-hero.jpg") no-repeat;
}

.tdae-background {
	background: url("/images/pf-tdae-hero.jpg") no-repeat;
}

.digital-background {
	background: url("/images/pf-digital-hero.jpg") no-repeat;
}

.analog-background {
	background: url("/images/pf-analog-hero.jpg") no-repeat;
}


h1.thrive-market-feature {
	color: $thrive-market;
	margin-bottom: 0;
}

h1.salad-days {
	color: $salad-days;
	margin-bottom: 0;
}

h1.ford-factory {
	color: $ford-factory;
	margin-bottom: 0;
}

h1.io-playa-vista {
	color: $io-playa-vista;
	margin-bottom: 0;
}

h1.chn-foundation {
	color: $chn-foundation;
	margin-bottom: 0;
}

h1.newmark {
	color: $newmark;
	margin-bottom: 0;
}

h1.tdae {
	color: $tdae;
	margin-bottom: 0;
}

h1.digital, h1.analog {
	color: $black;
	margin-bottom: 0;
}