footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	ul {
		margin: 0 1px 20px 60px;
		padding: 0;
		&:focus, &:hover .tooltip {
		    opacity: 1;
		    visibility: visible;
		}
		li {
			display: inline;
			float: left;
			padding-right: 5px;
			a {
				font-family: $titles;
			}
		}
	}
}

#home-footer {
  opacity: 0;
}

#other-footer {
  position: relative;
}

.tooltip {
    @include position(absolute, null null $tooltip-distance-from-item 57px);
    background-color: $tooltip-background;
    background: #fff;
    border-radius: $base-border-radius;
    box-shadow: $tooltip-shadow;
    color: $tooltip-color;
    font-size: 0.9em; // Make sure you use -webkit-backface-visibility: hidden; on the body element to prevent 1px nudging bugs.
    line-height: 1.5em;
    margin: 0 auto;
    max-width: $tooltip-max-width;
    opacity: 0;
    padding: 1em;
    text-align: center;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    z-index: 10;

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin: 0;
    }

    &::after {
      @include position(absolute, null 0);
      border: $tooltip-arrow-width solid transparent;
      bottom: $tooltip-arrow-distance-from-box;
      color: $tooltip-background;
      content: "▼";
      font-size: 1.4em;
      margin-left: -$tooltip-arrow-width;
      text-align: center;
      text-shadow: $tooltip-shadow;
    }
}

small {
	font-family: $titles;
	position: absolute;
	right: 60px;
	top: 5px;
}