<footer id="other-footer">
	<ul class="tooltip-item">
		<li><a href="https://angel.co/hanasono" target="_blank"><i class="fa fa-angellist" aria-hidden="true"></i></a></li>
		<li><a href="https://medium.com/@danhanasono" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
		<li><a href="https://www.producthunt.com/@danhanasono" target="_blank"><i class="fa fa-product-hunt" aria-hidden="true"></i></a></li>
		<li><a href="mailto:dan.hanasono@gmail.com" target="_top"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></a></li>
		<li><a href="https://dribbble.com/danhanasono" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
		<li><a href="#" target="_blank">&nbsp;</a></li>
		<li><a href="https://www.linkedin.com/in/danhanasono/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
		<li><a href="https://github.com/danhanasono" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
		<div class="tooltip">
			<p>Oh no he didn't. My social media link first initials spell "Amped LG(large)", which explains how I feel about life. Connect with me and see.</p>
	  	</div>
	</ul>
	<small>
		<time>
			©<script type="text/javascript">
			  document.write(new Date().getFullYear());
			</script>
		</time>
	</small>
</footer>