html, body {
	height: 100vh;
	text-rendering: auto;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	color: $black;
}

body {
	background: white;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
	margin: 0;
	font-weight: 100;
}

h1 {
	font-family: $titles;
	font-size: 4em;
	margin-bottom: .5em;
}

h2 {
	font-family: $titles;
	font-size: 2em;
	line-height: 1.8em;
/*	margin-bottom: 1.1em;
*/}

h3 {
	font-family: $titles;
	font-size: 1.4em;
	font-weight: 400;
	line-height: 1.3em;
	margin-bottom: 0.4em;
}

p.date {
  color: transparentize($base-font-color, 0.6);
  font-family: $titles;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 0.3em;
}

p.last {
	margin-bottom: 1.5em;

}

p {
	font-family: $copies;
	line-height: $base-line-height;
	font-size: 1.25em;
	line-height: $base-line-height;
}

a {
	color: $nav-color;
	text-decoration: none;
	font-family: $copies;
	font-size: 1.05em;
	line-height: $base-line-height;
	margin-bottom: 1.5em;
	&:hover, &:focus {
		color: $action-color;
		text-decoration: none;
	}
}

a.read-more {
	display: inline-block;
	font-family: $titles;
	font-size: 0.8em;
	font-weight: 700;
	margin-left: 0.2em;
	position: relative;
	text-transform: uppercase;

	span {
	  font-family: $titles;
	  font-size: 1.5em;
	  font-style: normal;
	  position: absolute;
	  right: -12px;
	  top: -1px;
	}
}

.type {
	border-bottom: 1px solid;
	display: inline-block;
	font-family: $copies;
	font-size: 0.7em;
	font-weight: 800;
	margin-bottom: 2em;
	padding: 0.3em 0;
	text-align: left;
	text-transform: uppercase;
  }

hr {
	border-bottom: 1px solid $light-gray;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: $base-line-height 0;
}

code {
   background: $light-gray;
   border-radius: $base-border-radius * 1.5;
   /*border: 1px solid #E0E0E0;*/
   font-size: 1.25em;
   font-style: normal;
   padding: .5em .635em;
   white-space: nowrap;
   box-shadow: 0 2px 2px rgba(0,0,0,.1);
   display: inline-block;
   margin: 0.4em;
}

a, em, code, p {
  &::after {
	content: unset;
  }
}

.table-fill {
	background: white;
	border-radius:3px;
	border-collapse: collapse;
	height: 320px;
	margin: auto;
	max-width: 600px;
	padding:5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
}

th {
	color: $light-gray;
	background: $dark-gray;
	border-bottom: 4px solid #9ea7af;
	border-right: 1px solid #343a45;
	font-size: 1.25em;
	font-weight: 100;
	padding: .625em;
	text-align: left;
	vertical-align: middle;
	font-family: $titles;
}

th:last-child {
    border-right:none;
}

tr {
	border-top: 1px solid #C1C3D1;
	border-bottom-: 1px solid #C1C3D1;
	color: $dark-gray;
	font-size: 1em;
	font-weight: normal;
}

/*tr:hover td {
background:#4E5066;
color:#FFFFFF;
border-top: 1px solid #22262e;
border-bottom: 1px solid #22262e;
}*/

tr:first-child {
	border-top:none;
}

tr:last-child {
	border-bottom:none;
}

tr:nth-child(odd) td {
	background:#EBEBEB;
}

/*tr:nth-child(odd):hover td {
background:#4E5066;
}*/

tr:last-child td:first-child {
	border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
	border-bottom-right-radius:3px;
}

td {
	background: #FFFFFF;
	padding: .625em;
	text-align: center;
	vertical-align:middle;
	font-weight: normal;
	font-size: 1em;
	border-right: 1px solid #C1C3D1;
	font-family: $copies;
}

td:last-child {
	border-right: 0px;
}

th.text-left {
	text-align: left;
}

th.text-center {
	text-align: center;
}

th.text-right {
	text-align: right;
}

td.text-left {
	text-align: left;
}

td.text-center {
	text-align: center;
}

td.text-right {
	text-align: right;
}

ol li {
	font-family: $copies;
	font-size: 1.25em;
	line-height: $base-line-height;
}

/*start object styles*/
.external-link {
  color: white;
  font-size: 1.25em;
}

.tall-logo{
  max-height: $tall-logo-max;
}

/*start refill styles*/
.js-fade-element-hide {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.js-fade-element-show {
  opacity: 1;
  transition: all 0.6s ease-in-out;
}


/*.arrow-down {
	font-family: 'apercu-medium';	
	font-size: 5vw;
	color: white;
	padding-left: 36px;
	line-height: 3.5vw;
}
*/
.rotate {
/* Safari */
-webkit-transform: rotate(90deg);
/* Firefox */
-moz-transform: rotate(90deg);
/* IE */
-ms-transform: rotate(90deg);
/* Opera */
-o-transform: rotate(90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

/*
.hero-container a:hover, .hero-container a:visited, .hero-container a:link, .hero-container a:active {
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
	margin-left: 25px;
	padding-top: 5px;
	padding-left: 0;
}*/

/** {
	outline: 1px solid red;
	background-color: black;
	color: green;
}*/