//colors
$black: rgba(0,0,0,0.78);
$nose:	rgba(60,200,215,1);
$poppy: rgba(247,160,68,1);
$dark-gray: #333 !default;
$light-gray: #DDD !default;

$image-gradient-color-top: $nose;
$transparency-top: 0.3;
$image-gradient-color-bottom: $poppy;
$transparency-bottom: 0.5;
$vertical-angle: 135deg;
$image-gradient-color-left: $nose;
$transparency-left: 0.8;
$image-gradient-color-right: $poppy;
$transparency-right: 0.3;
$horizontal-angle: 135deg;


//type
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-font-color: $black;
$titles: 'apercu-medium', sans-serif;
$copies: 'Work Sans', sans-serif;
$nav-color: $black;
$link-color: $nose;
$action-color: $poppy;

//neat
$danno-grid: (
  columns: 16,
  media: 1024px,
  gutter: 30px
);

//refills - tooltip
$tooltip-background: white;
$tooltip-color: $base-font-color;
$tooltip-max-width: 16em;
$tooltip-arrow-width: 8px;
$tooltip-shadow: 0 2px 2px silver;
$tooltip-distance-from-item: 4.5em;
$tooltip-arrow-distance-from-box: -1.3em;

$iphone5-vertical: 320px;
$iphone6-vertical: 375px;
$iphone6-plus-vertical: 414px;
$iphone5-landscape: 568px;
$iphone6-landscape: 667px;
$iphone6-plus-landscape: 736px;
$ipad-vertical: 768px;
$ipad-landscape: 1024px;
$desktop-1600px: 1600px;
$desktop-1920px: 1920px;